.flowers {
  width: 40vw;
  position: absolute;
  left: 30px;
  top: 20px;
  max-width: 300px;
}
.flowersBottom {
  width: 40vw;
  position: absolute;
  right: 30px;
  bottom: 20px;
  max-width: 300px;
  transform: rotate(180deg);
}
.approveWrap {
  position: relative;
  /* padding-top: 20vh; */
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-top: 20vh;
  padding-bottom: 20vh;
}
.approveText {
  font-size: 22px;
  z-index: 10;
  max-width: 600px;
}
.approve {
  font-size: 25px;
}
.btnApprove {
  margin-right: 20px;
  color: #fff;
  background-color: #be7096;
  padding: 0 16px;
  border-radius: 24px;
  border: none;
  line-height: 42px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.btnApprove:hover {
  color: #fff;
  background-color: #a66283;
  box-shadow: none;
}
.btnReject {
  min-width: 64px;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 16px;
  border-radius: 24px;
  transition: 0.2s;
  color: #363838;
  background-color: transparent;
  border: none;
}
.btnReject:hover {
  outline: none !important;
  box-shadow: none;
  color: #363838;
  background-color: #fef7f8;
}
.alert {
  position: absolute;
  bottom: 0;
}
